version: "3.9"

services:
  postgres-products:
    image: postgres:16-alpine
    container_name: postgres-products
    environment:
      POSTGRES_USER: products_user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: products_db
    ports:
      - "5432:5432"
    volumes:
      - ./postgres-data:/var/lib/postgresql/data
    networks:
      - fdn-net

  mysql-ratings:
    image: mysql:8
    container_name: mysql-ratings
    environment:
      MYSQL_ROOT_PASSWORD: ratings_root
      MYSQL_DATABASE: ratings_db
      MYSQL_USER: ratings_user
      MYSQL_PASSWORD: password
    ports:
      - "3306:3306"
    command: --lower_case_table_names=2
    volumes:
      - ./mysql-data:/var/lib/mysql
    networks:
      - fdn-net

  adminer:
    image: adminer
    container_name: adminer
    restart: always
    ports:
      - "8080:8080"
    networks:
      - fdn-net

networks:
  fdn-net:
    driver: bridge
